#header-img {
  height: 25rem;
  width: 100%;
  opacity: .6;
}

.header-title {
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
  position: absolute;
  top: 25%;
  left: 50%;
}
