* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav-link {
  font-size: 30px;
  padding-right: 16.5rem !important;
}

#header-img {
  height: 25rem;
  width: 100%;
}

.header-title {
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
  position: absolute;
  top: 25%;
  left: 50%;
}
